<div class="container1">
	<div class="studen-full-name cent">	
		<div class="asignatura-nombre col s4">
			<p  class="paragraph-display-data">{{asignatura.nombre}}</p>	
		</div>	
		<div class="asignatura-creditos col s2">
			<p  class="paragraph-display-data">{{asignatura.creditos}} Créditos</p>
		</div>
		<div class="asignatura-delete col s1">
			{{delete-something something=asignatura onSomethingDelete=onAsignaturaDelete}}
		</div>
	</div>
</div>