<div class="container1 ">
	<div class="checked-task">		
		<p>{{checkbox-task task=task onCompletedTask=onCompletedTask}}</p>
	</div>
	<div class="name-task">
		<p>{{name-task task=task}}</p>
	</div>
	<div class="created-task">		
		<p>{{created-completed-task task=task}}</p>
	</div>
	<div class="delete-task">		
		<p>{{delete-task task=task onTaskDelete=onTaskDelete}}</p>	
	</div>
</div>	