<h4>Todos</h4>
<div class="row">
	<form {{action 'addTask' taskInput on='submit'}}>
		<div class="input-field col s10">
			{{input
				type="text"
				value=taskInput
				class="task-input"}}
		</div>
		<div class="input-field col s2">
			<button type="submit" class="waves-effect waves-light btn {{if taskInput '' 'disabled'}}">Add todo</button>
		</div>
	</form>
</div>
{{#each model as |task|}}
	<div class="cent">
		{{main-container task=task onTaskDelete=(action 'onTaskDelete') onCompletedTask=(action 'onCompletedTask')}}
	</div>
{{/each}}
