*{
	font-family: 'Roboto', sans-serif;
}
nav{
	background-color: #70cf97;
}
input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default){
	padding-left: 5px;
	border: 1px solid #ababab;
	border-radius: 5px;
	height: 2.5rem;
	width: 95%;
}
html{
	line-height: 1;
}
.material-icons{
	padding-left: 5px;
}
.btn {
	background-color: #2c9cdb;
	border-radius: 5px !important;
	margin-bottom: 15px;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.row {
	margin-bottom: 0;
}
.row .col {
	padding: 0px;
}
.cent{
	display: contents;
	overflow: hidden;  
}
.container1{
	display: flex;
	width: 100%;
	border-radius: 5px;
	padding:10px 10px;
	margin: 10px 0;
	/* background-color: #FFCC76; */
	-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.24);
}
.alumno-data{
	display: flex}
}
.checked-task{
 vertical-align: middle;
}
.name-task{
 width: 45%;
 padding-left: 5px;
 /* font-weight: bold; */

}
.created-task{
 color: gray;
 width: 45%;
}
.delete-task{
 width: 5%;

}
.todo{
	background-color: white;
}
.title{
	font-weight: bold;
}
.checkbox{
	opacity: 1 !important;
	pointer-events: auto !important;
	cursor: pointer;
	border-radius: 5px;
	background-color: #2c9cdb !important;
	text-align: center;
}
.checkbox1{
	cursor: pointer;
	border-radius: 5px;
	background-color: #fff !important;
	border:1px solid #818181;
}
.icon-done{
	padding-left: 0px;
	color:white ;
}
.icon-delete{
	padding-left: 0px;
	cursor: pointer;
}
.button-delete{
	background-color: white;
	border: 0;
	padding: 0;
	color: #EB5757;
}
.curp-matricula{
	display: flex;
}
.curp .matricula{
	width: 50%;
}
.only-blue{
	color: #2c9cdb;
}
.modal-button{
	font-size: 12px;
}
.alumno-nombre, .alumno-matricula, .alumno-curp{
	width: 100%;
	display: flex;
	align-items: center;
}
.asignatura-nombre, .asignatura-creditos{
	width: 100%;
	display: flex;
	align-items: center;
}
.asignatura-delete, .alumno-delete{
	display: flex;
	align-items: center;
}
.paragraph-display-data{
	margin:0;
	vertical-align: middle;
}