<nav>
  <ul>
    <div>
      <li><i class="material-icons">dehaze</i></li>
      <li><a href="" class="title">Samples app</a></li>
    </div>
    <div class="right">
      <li>{{#link-to 'auth.todo'}}Todo{{/link-to}}</li>
      <li>{{#link-to 'auth.rails-todo'}}Rails Todo{{/link-to}}</li>
      <li>{{#link-to 'auth.alumnos'}}Alumnos{{/link-to}}</li>
      <li>{{#link-to 'auth.asignaturas'}}Asignaturas{{/link-to}}</li>
    </div>
  </ul>
</nav>
<div class="container">
  {{outlet}}
</div>