<nav>
  <ul>
    <div>
      <li><i class="material-icons">dehaze</i></li>
      <li><a href="#" class="title">Samples app</a></li>
    </div>
    <div class="right">
      <li><a href="sass.html" {{action 'todo' on='click'}}>Todo</a></li>
      <li><a href="sass.html" {{action 'rubyTodo' on='click'}}>Rails Todo</a></li>
      <li><a href="sass.html"></a></li>
      <li><a href="sass.html"></a></li>
    </div>
  </ul>
</nav>
<div class="container">
  <h4>Todos</h4>
  {{outlet}}
</div>